.rf-btn {
    background-color: #ce2121;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    text-align: center;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.rf-btn:active {
    filter: brightness(85%);
}
