body, h1, nav, .rf-nav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.rf-header {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background: transparent;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
